body {
  padding-top: 70px;  /* Move body of page below navbar. */
  padding-left: 30px;
  padding-right: 30px;
}

.page-content {
  padding: 10px;
  text-align: center;
}

img {
  float: left;
  margin-right: 10px;
}